h1{
    color: red;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: top left right bottom 30px;
}

p{
    color:red;
    font-size:x-large;
    font-style: italic;
    margin-top: 30px; margin-bottom: 30px; 

}
ol{
    color: brown;
    font-size: 20;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    color: brown;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif; 
    font-weight: bold; 
}
h2{
    color: brown;
    font-size: medium;

}
a{
    color: brown;
    background-color: yellow;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}
